<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header><ion-text color="warning">Super</ion-text><ion-text color="dark">Hero.</ion-text></ion-list-header>
          <ion-note>
            Find your hero
            <div>
              <ion-segment (ionChange)="toggleTheme($event)">
                <ion-segment-button id="lightSegment" value="default">
                  <ion-icon color="warning" name="sunny-outline"></ion-icon>
                </ion-segment-button>
                <ion-segment-button id="darkSegment" value="segment">
                  <ion-icon color="dark" name="moon-outline"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </div>
          </ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <img *ngIf="i === 0"  src="../assets/icon/superhero.png" height="30px" />
              <ion-icon *ngIf="i !== 0" color="danger" name="{{p.icon}}"></ion-icon>
              <ion-label class="ion-margin-start">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
